.bpContainer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  padding-top: 70px;
}

.LogoNav {
  box-sizing: border-box; 
  position: fixed;
  top: 5px;
  left: 1%;
  display: none
}

@media (min-width: 550px) {
  .LogoNav {
    display: unset;
  }
}

@media (min-width: 740px) {
  .bpContainer {
    width: 740px;
  }
}

p {
  font-size: 21px;
}

h1 {
  font-size: 36px;
}