.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #fff;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  span {
    &:hover {
      cursor: pointer;
    }
  }
  .LogoImg {
    margin-left: 30%;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-105%); 
}