.Backbtn {
  box-sizing: border-box;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  right: 1%;
  width: 75px;
  margin-top: 5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 481px) {
  .Backbtn {
    margin-top: 4px;
  }
}